<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <link href="/style/main.css" rel="stylesheet">

</head>
<body>
<div class="container my-3">

    <h1>System management tasks</h1>
    <hr>
    <h2>Save new task: </h2>

    <form action="#" th:action="@{/save}" th:object="${task}" method="POST">

        <input type="text" th:field="*{description}" placeholder="Description task" class="form-control mb-4 col-4">
        <select th:field="*{status}" class="form-control mb-4 col-4">
            <option th:each="status : ${T(org.example.domain.Status).values()}"
                    th:value="${status}" th:text="${status}">
            </option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save task</button>
    </form>
    <hr>
</div>
</body>
</html>

